.header-div {
    border-radius: 20px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-weight: 600;
    text-align: right;
}

@media screen and (max-width: 425px) {
    h1, h2 {
        margin: 10px 0 0 0;
    }
}